body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.about-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-content {
    text-align: center;
}

h1 {
    color: #333;
}

p {
    margin-bottom: 20px;
    color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

.team {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.team-member {
    margin: 0 10px;
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h3 {
    margin: 0;
    color: #333;
}

.team-member p {
    margin: 0;
    color: #666;
}
